extends section-main

append section-main-args
	- sectionMainTitleHTML = "Ремонт, 2 услуги";
	- sectionMainDescriptionHTML = "";

block section-main-content
	include /partials/blocks/calculator/block-calculator-date