extends section-main

append section-main-args
	- sectionMainTitleHTML = "Регулировка фурнитуры оконных и дверных блоков";
	- sectionMainDescriptionHTML = "";

block section-main-content
	include /partials/blocks/calculator/block-calculator-service