extends section-main

append section-main-args
	- sectionMainTitleHTML = "Плотницкие работы";
	- sectionMainDescriptionHTML = "";

block section-main-content
	include /partials/blocks/services/block-services-subcats