extends /partials/sections/main/section-main

append section-main-args
	- sectionMain["data-ng-controller"] = "MainCtrl";
	- sectionMainTitle["data-ng-bind"] = "title";
	- sectionMainTitleHTML = "";
	- sectionMainDescription["data-ng-bind"] = "description";
	- sectionMainDescription["data-ng-if"] = "description";
	- sectionMainDescriptionHTML = "";

block section-main-before
	breadcrumbs