
<breadcrumbs></breadcrumbs>
<section class="section-main" data-ng-controller="CartCtrl">
  <h1 class="section-title" data-ng-bind="title"></h1>
  <div class="section-description"></div>
  <div class="block-calculator" data-ng-controller="CartCtrl">
    <div class="f-s-h2 text-center block-calculator__total"><span data-ng-if="quantity()">{{total() | customCurrency:"&#8381;":".":" ":0:false}}</span></div>
    <div class="row block-calculator__date cb">
      <div data-ng-if="quantity()" class="col-xs-12 col-sm-12">
        <label class="bold m-b-15">{{"Choose a convenient day and time" | translate}}</label>
        <form class="form-inline block-calculator__date-form">
          <pikaday></pikaday>
          <tetherselect></tetherselect>
        </form>
      </div>
      <div data-ng-show="!quantity()" class="col-xs-12 col-sm-12">{{"Before selecting the date and time you must select the services" | translate}}</div>
    </div>
    <button data-ng-if="quantity()" data-ng-click="go('thanks')" class="btn btn-orders">{{"To order" | translate}}</button>
  </div>
</section>