//- Title
//----------------------------
- var siteTitle = "The Site";
- var siteDescription = "The site description";

- var tel = "+7 (843) 123-45-67";
- var telHTML = "<span class='tel_code'>+7 (843)</span> 123-45-67";
- var telLink = "+78431234567";

- var email = "info@site.ru";