//- Basic mixins
//---------------------------
include ../mixins/a
include ../mixins/alert
include ../mixins/aside
include ../mixins/badge
include ../mixins/breadcrumbs
include ../mixins/btn
include ../mixins/checkbox
include ../mixins/dropdown
include ../mixins/embed
include ../mixins/fa
include ../mixins/img
include ../mixins/informer
include ../mixins/label
include ../mixins/list
include ../mixins/loop
include ../mixins/loopCols
include ../mixins/loremIpsum
include ../mixins/media
include ../mixins/modal
include ../mixins/navbar
include ../mixins/pagination
include ../mixins/panel
include ../mixins/pills
include ../mixins/progress
include ../mixins/radio
include ../mixins/row-cols
include ../mixins/section
include ../mixins/stars
include ../mixins/swiper
include ../mixins/table
include ../mixins/tabs
include ../mixins/thumbnail
include ../mixins/well
include ../mixins/youtube


//- Additional mixins
//---------------------------