extends block-calculator

block calculator-total
	.m-b-10 900 &#8381;
	
block calculator-panel-before
block calculator-date-before
	
block calculator-button
	| К выбору даты и времени #[span.arrow.arrow-right.block-calculator__arrow]