extends block-services

block services-items
	.block-services__item
		.row
			.col-xs-12.col-sm-12
				a.block-services__a( href="#" title="" ) Сантехнические работы
				
	.block-services__item
		.row
			.col-xs-12.col-sm-12
				a.block-services__a( href="#" title="" ) Электротехнические работы
				
	.block-services__item
		.row
			.col-xs-12.col-sm-12
				a.block-services__a( href="#" title="" ) Плотницкие работы