block services-args

.block-services.cb
	block services-items
		.block-services__item
			.row
				.col-xs-12.col-sm-7
					a.block-services__a( href="#" title="" ) The service
					.small.p-t-5 The service description
					
				.col-xs-12.col-sm-5.text-right( class= "col-sm-4" ) 0 &#8381;
				
	block services-items-after