extends block-services

block services-items
	.block-services__item
		.row
			.col-xs-12.col-sm-7
				a.block-services__a( href="#" title="" ) Диагностика
				.small.m-t-5 Когда не знаете что точно сломалось и какие услуги нужны. Мастер разберется на месте
				
			.col-xs-12.col-sm-5.text-right.block-services__price Бесплатно
				
	.block-services__item
		.row
			.col-xs-12.col-sm-7
				a.block-services__a( href="#" title="" ) Регулировка фурнитуры оконных и дверных блоков
				
			.col-xs-12.col-sm-5.text-right.block-services__price 250 &#8381;
				
	.block-services__item
		.row
			.col-xs-12.col-sm-7
				a.block-services__a( href="#" title="" ) Замена уплотнителя в окнах и дверях, за одну створку
				
			.col-xs-12.col-sm-5.text-right.block-services__price 1 400 &#8381;